aiohttp
asyncpg
beautifulsoup4
bitsandbytes
chromadb
datasets
flask
gradio
huggingface-hub
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
matplotlib
numpy
peft
pillow
pydantic
requests
scikit-learn
sentence-transformers
torch
transformers
trl
tqdm
